/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(35, 219, 167);
}

.wholeNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.registration-form {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.registration-form a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
  font-size: 20px;
}

/* Animation Effect for Register Interest */
#Register {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 5px;
  overflow: hidden;
  animation: animateBox 2s infinite;
}

@keyframes animateBox {
  0% {
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
  }
  70% {
    box-shadow: 0 0 10px 20px rgba(76, 175, 80, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
  }
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Vertical Navigation Bar */
.navbar {
  display: none; /* Initially hidden */
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  padding: 10px;
  position: absolute;
  top: 60px; /* Adjust according to the height of your nav bar */
  right: 20px;
  width: 200px; /* Adjust width if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #444;
  display: block;
  width: 100%;
}

.navbar a:hover {
  background-color: #575757;
}

.navbar a.active {
  background-color: #4caf50;
  color: white;
}

/* Header Styles */
h1 {
  text-align: center;
  color: #4caf50;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #4caf50;
  margin: 10px 0;
}

h3 {
  text-align: center;
  color: #333;
  margin: 10px 0;
}

p,
ul {
  line-height: 1.6;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
